<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
       
        <title>{% if article %}{{article.metadata.title}} - advice from {% endif %}The Chief Freelance Officer</title>
        <meta name="description" value="Matthew Knight supports businesses to work better together with freelancers">

        <meta property="og:title" content="{% if article %}{{article.metadata.title}} - advice from {% endif %}The Chief Freelance Officer" />
        {% if article.metadata.subtitle %}<meta property="og:description" content="{{article.metadata.subtitle}}" />{% endif %}
        {% if article.metadata.image.imgix_url %}<meta property="og:image" content="{{article.metadata.image.imgix_url}}?sat=-100&exp=5&w=1200" />{% endif %}

        <link rel="stylesheet" href="/base.css">
        
    </head>
    <body>


        <section id="supernav">
            <div class="container">
                <!-- <a href="#">Subscribe</a> 
                &middot; -->
                <a href="/articles/work-with-us.html">Work with Us</a>
            </div>
        </section>

        <section class="container" id="header">
            <a href="/"><img src="/img/the-chief-freelance-officer.png" alt="the chief freelance officer"></a>
        </section>

        {% if article.metadata.image.imgix_url %}
        <div id="image_primary" style="background-image:url({{article.metadata.image.imgix_url}}?sat=-100&exp=5&w=1200);"></div>
        {% endif %}

        {% block main %}{% endblock %}

        

       
        <section id="superfooter" class="container">
            <img src="/img/the-chief-freelance-officer.png" style="width: 200px">
            <a href="/articles/work-with-us.html">Work with Matthew</a> to help your business<br/>
            work better together with independents.

            <div class="smaller">Chief Freelancer Officer and The Independency are trading names of <a href="https://foxlark.co">Foxlark Strategy Limited</a> - a registered company in England and Wales.</div>
        </section>


    </body>
</html>